.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-list li {
  display: flex;
  width: 100%;
  padding: 18px 25px;
  border-bottom: 1px solid #00000029;
  animation: sidebar-Fade 0.8s cubic-bezier(0.23, 1, 0.320, 1);
}

.post-list li p {
  color: #000000b8;
  font-size: 0.8rem;
}

.post-list li img {
  margin-right: 10px;
}

.see_more:hover {
  color:#FC9E4F;
}
