#sidebar-wrapper {
  display: flex;
}

#sidebar-resizer {
  width: 10px;
  height: 100%;
  background-color: transparent;
}

#sidebar-resizer:hover {
  cursor: col-resize;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background:#e3e3e36b;
  max-width: 35vw;
  min-width: 220px;
  height: 100vh;
  overflow: hidden;
  box-shadow: 2px 0 7px 0 #0000001a;
  font-size: 0.8rem;
}

#sidebar span {
  color: #181818;
}

#sidebar p {
  font-size: 0.7rem;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  border-bottom: 2px solid #00000033;
}

.search-bar .exit-btn {
  width: 15px;
  height: 15px;
  background-color: #00000033;
  font-size: 1px;
  padding: 4px;
  border-radius: 50%;
  animation: fade-r 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.search-bar .exit-btn img {
  width: 100%;
  height: 100%;
}

@keyframes fade-r {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
  width: 80%;
  height: 35px;
  margin-top: 25px;
  border-radius: 12px;
  border: 1px solid #0000001e;
}

.search-bar.active {
  transition: 0.5s;
  border-color: #00000041;
}

.search-bar input {
  width: 95%;
  background: transparent;
  border: none;
  outline: none;
  margin-left: 10px;
}

.search-bar img {
  width: 18px;
  height: 18px;
}

.search-bar.active img {
  transform: scale(1.1);
}

.tab-choise {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.tab-choise input {
  color:  #000000a1;
  font-size: 14px;
  padding: 2px 0;
  border-bottom: 2px solid transparent;
}

.tab-choise input.active {
  transition: 0.2s;
  color: #FC9E4F;
  border-bottom: 2px solid #FC9E4F;
  border-radius: 2px;
}

.sidebar-content {
  flex-grow: 1;
  overflow-y: scroll;
}

.user_profile-sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  background: linear-gradient(to bottom, #e3e3e36b, #0000001c);
  border-top: 1px solid #00000005;
}

.user_profile-sidebar > div {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  gap: 4px;
}

.user_profile-sidebar div > div {
  display: flex;
  flex-direction: column;
}

.user_profile-sidebar img {
  width: 35px;
  height: 35px;
}

.user_profile-sidebar svg {
  color: #181818;
}
