.menu {
  display: flex;
  align-items: center;
  padding: 25px 0;
  width: 50px;
  flex-direction: column;
  background-color: #333533;
}

.menu a {
  margin-bottom: 60px;
}

.menu svg {
  width: 20px;
  height: 20px;
  object-fit: fill;
  color: #FFFFFF;
}

.menu .active svg {
  transition: 0.3s;
  animation: activated 0.4s cubic-bezier(0.23, 1, 0.320, 1);
  color: #FC9E4F;
}

@keyframes activated {
  30%{
    transform: translateY(-20%);
  }
  100%{
    transform: translateY(0);
  }
}