@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f4faff26;
  overflow: hidden;
}

button, input {
  background: none;
  border: none;
}

img {
  object-fit: cover;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  width: 0;
}

span {
  color: #4B4B4B
}

svg {
  width: 15px;
  height: 15px;
  color: #C4C2C2;
}

button:hover, svg:hover {
  transition: 0.3s;
  transform: scale(1.1);
  cursor: pointer;
  color: #fab47b;
}