@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: #f4faff26;
  display: flex;
}

button, input {
  background: none;
  border: none;
}

img {
  object-fit: cover;
}

::-webkit-scrollbar {
  width: 0;
}