@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  scrollbar-color: #fc9d4f63 transparent; 
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #fc9d4f1c;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #f4faff26;
  overflow: hidden;
}

.app > div {
  display: flex;
}

#main {
  width: 100%;
  padding: 0 1px;
}

button, input {
  background: none;
  border: none;
}

img {
  object-fit: cover;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

span {
  color: #414141;
}

p {
  color: #535353;
}

svg {
  width: 14px;
  height: 14px;
  color: #C4C2C2;
}

button:hover, svg:hover, input[type="button"]:hover {
  transition: 0.1s;
  cursor: pointer;
  color: #fab47bb7;
}

.small_circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.small_quad {
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.activated {
  animation: activated 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}